GROQ_API_KEY2=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
GROQ_API_KEY1=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
GROQ_API_KEY3=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
HF_TOKEN=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
PORT=3000
